<!-- <p id="notice"><%= notice %></p> -->

<h2>Hey <%= @user.username %>, here is a list of the events you've created!</h2>

  <% current_user.events.each do |event| %>
  <ul>
    <li><%= event.description %></li>
    <li><%= event.event_date %></li>
    <li><%= event.location %></li>
    <li><%= link_to 'Show', event %></li>
  </ul>
  <% end %>

<!--<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>-->

<!--<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>-->
