<!--<p id="notice"><%= notice %></p>-->

<h1>Events</h1>
  <% @events.each do |event| %>
  <ul>
    <li><%= event.description %></li>
    <li><%= event.event_date %></li>
    <li><%= event.location %></li>
    <li><%= link_to 'Show', event %></li>
  </ul>
  <% end %>

<%= link_to 'New Event', new_event_path %>
