<!--<p id="notice"><%= notice %></p>-->

<h2>Event's Show Page</h2>

<%= @event.creator.username %>

<p>Attendees</p>

<ul>
<% @event.attendees.each do |attendee| %>
  <li><%= attendee.username %></li>
  <li><%= link_to 'Show', attendee %></li>
<% end %>
</ul>

<%= link_to 'All Events', events_path %>

<!--<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Event date:</strong>
  <%= @event.event_date %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>-->

<!-- <%= link_to 'Edit', edit_event_path(@event) %> | -->
<%= link_to 'Back', events_path %>
