<!--<p id="notice"><%= notice %></p>-->

<h2>Event's Show Page</h2>

<%= @event.creator.username %>

<!--<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Event date:</strong>
  <%= @event.event_date %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>-->

<!-- <%= link_to 'Edit', edit_event_path(@event) %> | -->
<%= link_to 'Back', events_path %>
